@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background: url(./assets/bg-desktop.png) no-repeat center center / 70%, linear-gradient(to right, #674BB1, #674BB1);
}
.header {
    max-width: 1250px;
    margin: 0px auto;
}
.header img {
    margin-top: 25px;
}
.main {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0px auto;
}
/* ===== RECTS ===== */
/* ===== RECTS ===== */
/* BIG RECT (START) */
.big-rect-head {
    width: 500px;
    height: 40px;
    background-color: #0A2A3A;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.big-rect-head-left {
    width: 100px;
    height: 15px;
    background-color: #DEE3E7;
    margin-left: 50px;
    border-radius: 5px;
}
.big-rect-head-right div {
    width: 20px;
    height: 1px;
    background-color: #DEE3E7;
    margin: 5px 50px;
}
.big-rect-main {
    width: 500px;
    height: 300px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.big-rect-main-left div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px 0px;
}
.big-rect-main-left div:nth-child(1) {
    background: linear-gradient(to bottom, #FEB078, #FE74AA);
}
.big-rect-main-left div:nth-child(2) {
    background: linear-gradient(to bottom, #02BEFA, #018CF7);
}
.big-rect-main-left div:nth-child(3) {
    background: linear-gradient(to bottom, #EC53D0, #B44DF2);
}
.big-rect-main-middle .dummy {
    margin: 37px 0px;
}
.big-rect-main-middle .dummy div:nth-child(1) {
    width: 75px;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E1E6EA;
    margin-bottom: 10px;
}
.big-rect-main-middle .dummy div:nth-child(2) {
    width: 14em;
    height: 2px;
    border-radius: 5px;
    background-color: #E1E6EA;
    margin-bottom: 5px;
}
.big-rect-main-middle .dummy div:nth-child(3) {
    width: 12em;
    height: 2px;
    border-radius: 5px;
    background-color: #E1E6EA;
    margin-bottom: 5px;
}
.big-rect-main-middle .dummy div:nth-child(4) {
    width: 10em;
    height: 2px;
    border-radius: 5px;
    background-color: #E1E6EA;
    margin-bottom: 5px;
}
.big-rect-main-right .circles {
    display: flex;
    margin: 53px 0px;
}
.big-rect-main-right .circles:nth-child(1) {
    padding-top: 5px;

}
.big-rect-main-right .circles:nth-child(2) {
    padding-top: 5px;
}
.big-rect-main-right .circles:nth-child(2) div {
    margin-bottom: 4px;
}
.big-rect-main-right .circles:nth-child(3) {
    padding-top: 0px;
}
.big-rect-main-right .circles div {
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border-radius: 100%;
    background-color: #ADBDCA;
}
/* BIG RECT (END) */

/* SMALL RECT (START) */
.rects {
    position: relative;
}
.big-rect:nth-child(2) {
    position: absolute;
    top: 173px;
    right: -92px;
}
.big-rect:nth-child(2) .big-rect-head {
    width: 200px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.big-rect:nth-child(2) .big-rect-head-left {
    width: 100px;
    height: 15px;
    background-color: #DEE3E7;
    margin-left: 15px;
    border-radius: 5px;
}
.big-rect:nth-child(2) .big-rect-head-right div {
    width: 20px;
    height: 1px;
    background-color: #DEE3E7;
    margin: 5px 15px;
}
.big-rect:nth-child(2) .big-rect-main {
    width: 200px;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.big-rect:nth-child(2) .big-rect-main-left div {
    width: 20px;
    height: 20px;
    margin: 10px 0px;
}
.big-rect:nth-child(2) .big-rect-main-left div:nth-child(4) {
    background: linear-gradient(to bottom, #FEB078, #FE74AA);
}
.big-rect:nth-child(2) .big-rect-main-left div:nth-child(5) {
    background: linear-gradient(to bottom, #02BEFA, #018CF7);
}
.big-rect:nth-child(2) .big-rect-main-left div:nth-child(6) {
    background: linear-gradient(to bottom, #EC53D0, #B44DF2);
}
.big-rect:nth-child(2) .big-rect-main-left div:nth-child(7) {
    background: linear-gradient(to bottom, #FEB078, #FE74AA);
}
.big-rect:nth-child(2) .big-rect-main-middle .dummy {
    margin: 11px 0px;
}
.big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(1) {
    width: 50px;
    height: 7px;
    margin-bottom: 3px;
}
.big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(2) {
    width: 8em;
    height: 1px;
    margin-bottom: 3px;
}
.big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(3) {
    width: 7em;
    height: 1px;
    margin-bottom: 3px;
}
.big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(4) {
    width: 6em;
    height: 1px;
    margin-bottom: 3px;
}
/* SMALL RECT (END) */

/* ===== CONTENT ===== */
/* ===== CONTENT ===== */
.content {
    /* width: 600px; */
    color: #FFFFFF;
}
.content h1 {
    font-size: 45px;
    width: 550px;
    margin-bottom: 15px;
}
.content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 25px;
    width: 560px;
}
.content button {
    border: none;
    padding: 12px 50px;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #674BB1;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ===== FOOTER ===== */
/* ===== FOOTER ===== */
.footer {
    position: absolute;
    bottom: 30px;
    right: 50px;
    display: flex;
    align-items: center;
}
.footer a {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    display: grid;
    place-items: center;
}

/* ===== RESPONSIVE ===== */
/* ===== RESPONSIVE ===== */
@media screen and (max-width: 1250px) {
    body {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to right, #674BB1, #674BB1);
    }
    .header {
        max-width: none;
    }
    .header img {
        margin: 20px 20px;
    }
    .main {
        height: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: none;
    }
    /* ===== RECTS ===== */
    /* ===== RECTS ===== */
    /* BIG RECT (START) */
    .big-rect:nth-child(1) {
        margin-left: -55px;
    }
    .big-rect-head {
        width: 280px;
        height: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .big-rect-head-left {
        width: 75px;
        height: 10px;
        margin-left: 25px;
        border-radius: 3px;
    }
    .big-rect-head-right div {
        width: 15px;
        margin: 3px 25px;
    }
    .big-rect-main {
        width: 280px;
        height: 150px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .big-rect-main-left div {
        width: 25px;
        height: 25px;
        margin: 15px 0px;
    }
    .big-rect-main-middle .dummy {
        margin: 17px 0px;
    }
    /*  */
    .big-rect-main-middle .dummy div:nth-child(1) {
        width: 50px;
        height: 7px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 5px;
    }
    .big-rect-main-middle .dummy div:nth-child(2) {
        width: 8em;
        height: 2px;
        border-radius: 5px;
        background-color: #E1E6EA;
        margin-bottom: 3px;
    }
    .big-rect-main-middle .dummy div:nth-child(3) {
        width: 7em;
        height: 2px;
        border-radius: 5px;
        background-color: #E1E6EA;
        margin-bottom: 3px;
    }
    .big-rect-main-middle .dummy div:nth-child(4) {
        width: 6em;
        height: 2px;
        border-radius: 5px;
        background-color: #E1E6EA;
    }
    .big-rect-main-right .circles {
        display: flex;
        margin: 30px 0px;
    }
    .big-rect-main-right .circles:nth-child(1) {
        padding-top: 0px;
    
    }
    .big-rect-main-right .circles:nth-child(2) {
        padding-top: 0px;
    }
    .big-rect-main-right .circles:nth-child(2) div {
        margin-bottom: -5px;
    }
    .big-rect-main-right .circles:nth-child(3) {
        padding-top: 5px;
    }
    .big-rect-main-right .circles div {
        width: 10px;
        height: 10px;
    }
    /* BIG RECT (END) */
    
    /* SMALL RECT (START) */
    .big-rect:nth-child(2) {
        position: absolute;
        top: 85px;
        right: -51px;
    }
    .big-rect:nth-child(2) .big-rect-head {
        width: 120px;
        height: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .big-rect:nth-child(2) .big-rect-head-left {
        width: 60px;
        height: 10px;
        margin-left: 10px;
        border-radius: 2px;
    }
    .big-rect:nth-child(2) .big-rect-head-right div {
        width: 15px;
        margin: 3px 10px;
    }
    .big-rect:nth-child(2) .big-rect-main {
        width: 120px;
        height: 150px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .big-rect:nth-child(2) .big-rect-main-left div {
        width: 13px;
        height: 13px;
        margin: 5px 0px;
    }
    .big-rect:nth-child(2) .big-rect-main-middle .dummy {
        margin: 5px 0px;
    }
    .big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(1) {
        width: 30px;
        height: 5px;
        margin-bottom: 3px;
    }
    .big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(2) {
        width: 4em;
        height: 1px;
        margin-bottom: 1px;
    }
    .big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(3) {
        width: 3.5em;
        height: 1px;
        margin-bottom: 1px;
    }
    .big-rect:nth-child(2) .big-rect-main-middle .dummy div:nth-child(4) {
        width: 3em;
        height: 1px;
    }
    /* SMALL RECT (END) */

    /* ===== CONTENT ===== */
    /* ===== CONTENT ===== */
    .content {
        margin-top: 100px;
        text-align: center;
        color: #FFFFFF;
    }
    .content h1 {
        font-size: 25px;
        width: 300px;
        margin-bottom: 15px;
    }
    .content p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin-bottom: 20px;
        line-height: 20px;
        width: 300px;
    }
    .content button {
        border: none;
        padding: 10px 45px;
        border-radius: 25px;
    }

    /* ===== FOOTER ===== */
    /* ===== FOOTER ===== */
    .footer {
        bottom: 15px;
        right: auto;
    }
    .footer a {
        width: 30px;
        height: 30px;
    }
    .footer a:first-child img {
        width: 8px;
    }
    .footer a img {
        width: 15px;
    }
}

@media screen and (max-width: 500px) {
    body {
    background: url(./assets/bg-mobile.png) no-repeat center top / 100%, linear-gradient(to right, #674BB1, #674BB1);
    }
}